/* #region common */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* #endregion common */

/* #region debug */
.debug{
    border: 1px dashed;
}
.debug header{
    background-color: #ADD8E6;
}
/* #endregion debug */

/* #region header */
header{
    width: 100%vh;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #ADD8E6; */
    
}

.logo, .login{
    width: 10%;
    height: 30px;
    background-color:#DAA520;
    padding: 4px;
}

.link{
    width: 40%;
    height: 30px;
    background-color:#DAA520;
    text-align: center;
    padding: 4px;
}

.login{
    text-align: end;
}

/* #endregion header */

/* #region main */
.container{
    width: 100%vh;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first{
    background-color: #00008B;
}

.third,.fifth{
    background-color: #D3D3D3;
}

.fifth{
    height: 800px;
}

.main_box{
    height: 80%;
    width: 50%;
    background-color: #EE82EE;
}

.h80{
    height: 80%;
}

.second_box{
    width: 40%;
    background-color: #1E90FF;
}

.third_box{
    width: 20%;
    background-color: #FFC0CB;
}

.fourth_box{
    background-color: #228B22;
    width: 60%;
    height: 90%;
}

/* #endregion main */